.ex-title {
  text-align: center;
}

.chart-grid {
  display: inline-grid;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
}

.chart-grid .chart {
  height: 400px;
  width: 600px;
  border: 1px solid;
}
