.ex-title {
  text-align: center;
}

.chart-grid {
  display: grid;
  //margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
}

.chart-grid .chart {
  height: 400px;
  width: 500px;
  border: 1px solid;
}
